# Binaries
*.exe
dynamic-proxy
dynamic-proxy-*

# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore
